@font-face {
  font-family: "Roboto";
  src: url('../fonts/roboto.woff2') format('woff2'),
       url('../fonts/roboto.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: "Roboto Bold";
  src: url('../fonts/robotobold.woff2') format('woff2'),
       url('../fonts/robotobold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: "Roboto Medium";
  src: url('../fonts/robotomedium.woff2') format('woff2'),
       url('../fonts/robotomedium.woff') format('woff');
  font-weight: medium;
}

body {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;

  font-size: 16px;
  line-height: 22px;
  /*font-family: "RobotoRegular", sans-serif;*/
  font-weight: 400;
  color: #fff;
  background: #849d8f;
}


.inner-page h1 {
  font-size: 35px;
  line-height: 41px;
  font-family: "Roboto", "Arial" sans-serif;
  font-weight: bold;
  color: #fff;
}

h2 {
  font-size: 60px;
  line-height: 60px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  text-align: center;
}

/*Временно скрываем невидимые элементы*/
 .search form, .login form, .cart-items, .slide2, .slide3, .feedback-form {
  display: none !important;
}

.main-header, main, .main-footer {
  padding-left: 2.2%;
  padding-right: 2.2%;
}

.map {
  padding: 0;
}




.header-content-right {
  font-size: 0;
  max-width: 275px;
}

.header-content-right div {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
}

.logo, .main-navigation {
  float: left;
}

.logo {
  margin-top: 9px;
}

.header-content-right {
  float: right;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.telephone {
  float: right;
  clear: both;
}

.slider {
  min-height: 574px;
  margin-bottom: 40px;
}

.slider h2 {
  margin: 0;
  padding-top: 260px;
}

.promo h2 {
  font-size: 35px;
  margin: 0;
}

.tiles {
  margin-bottom: 40px;
}

.tiles-left {
  float: left;
  width: 46.6%;
}

.tiles-right {
  float: right;
  width: 46.6%;
}

.hits {
  margin-bottom: 40px;
}

.hits ul {
  font-size: 0;
  margin: 0;
  padding: 0;
}

.hits li {
  list-style: none;
  width: 22.25%;
  display: inline-block;
  font-size: 16px;
  margin-right: 3.19%;
  vertical-align: top;
}

.hits li:nth-child(4n) {
  margin-right: 0;
}

.hits img {
  width: 100%;
  height: auto;
}

.about {
  margin-bottom: 40px;
}

.map {
  min-height: 429px;
}

.map .contacts {
  float: right;
  width: 302px;
  margin-top: 62px;
  margin-right: 2.2%;
}

.socials ul, .info-left-col, .info-right-col{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.socials li {
  display: inline-block;
  vertical-align: top;

  /*Временно, чтобы видеть место под иконки*/
  width: 37px;
  height: 37px;
  background: rgba(255,255,255,0.3);
  margin-right: 10px;
}

.socals li:last-child {
  margin-left: 0;
}

.info li {
font-size: 13px;
}

.socials {
  float: left;
  width: 22.2%;
}

.info {
  float: left;
  width: 46.6%;
  margin: 0 4.5%;
  text-align: center;
  font-size: 0;
}

.info-left-col, .info-right-col {
  vertical-align: top;
  display: inline-block;
  font-size: 13px;
  text-align: left;
}

.info-left-col {
  margin-right: 30px;
}

.dev-info {
  float: right;
  width: 22.2%;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.breadcrumbs li {
  display: inline-block;
  font-size: 14px;
}

.inner-page h1 {
  margin: 0;
  font-size: 35px;
}

.inner-page h2 {
  font-size: 14px;
}

.filter {
  font-size: 0;
  margin-bottom: 34px;
}

.filter div, .filter input[type="submit"] {
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
}

.filter div {
  margin-right: 15px;
}

.ice-creams {
  font-size: 0;
  margin: 0;
  padding: 0;
  padding: 0;
  margin-bottom: 100px;
}

.ice-creams li {
  list-style: none;
  width: 22.25%;
  display: inline-block;
  font-size: 16px;
  margin-right: 3.19%;
  margin-bottom: 40px;
  vertical-align: top;
}

.ice-creams li:nth-child(4n) {
  margin-right: 0;
}

.ice-creams img {
  width: 100%;
  height: auto;
}
.ice-creams .btn {
  display: none;
}

.paginator {
  float: right;
  margin-bottom: 30px;
}

.main-navigation {
  position: relative;
}

.main-navigation > ul{
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
  max-width: 420px;
  margin-top: 30px;
  margin-left: 30px;
  font-family: "Roboto Bold", "Arial", sans-serif;
}

.main-navigation  li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 18px;
}

.main-navigation  button {

  display: block;
  margin: 0;
  padding: 0;
  padding: 7px 13px;
  margin: 0 0.5px;
  border: none;
  background: transparent;
  cursor: pointer;
  text-decoration: underline;
  color: #fff;
  border-radius: 20px;
}

.main-navigation  a {
  display: block;
  color: #fff;
  padding: 7px 13px;
  margin: 0 0.5px;
  border-radius: 20px;
}

.main-navigation  a:hover, .main-navigation  button:hover {
  background: #f7f6f3;
  color: #333333;
  text-decoration: none;
}

.main-navigation   a:active, .main-navigation  button:active {
  background-color: #ededed;
  box-shadow: inset 0px 3px 3px 0px rgba(105,105,105,1);
}

/*Стиль для IE. Убираем эффект нажатия на кнопку.*/
.main-navigation  button:active span, .main-navigation  button:focus span {
  position: relative;
  top: 0;
  left: 0;
}

.catalog-nav {
  margin: 0;
  padding: 6px;
  position: absolute;
  background-color: #f8f7f4;
  color: #323232;
  display: block;
  min-width: 138px;
  border-radius: 6px;
}

.catalog-nav li {
  display: block;
  font-size: 14px;
}

.catalog-nav li:not(:first-child){
  font-family: "Roboto", "Arial", sans-serif;
}

.catalog-nav li:first-child {
  border-bottom: 1px solid #d1d0ce;
}

.catalog-nav a {
  background-color: #f8f7f4;
  color: #323232;
  text-decoration: none;
  border-radius: 0;
  padding: 6px 0 6px 20px;
  margin-right: 0;
}

.catalog-nav a:hover {
  background-color: #fbded7;
  color: inherit;
}

.catalog-nav a:active {
  box-shadow: none;
  background-color: #f6b5a5;
}
