body {
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #323232;
}

/*Заголовок на странице ice-creams.html*/
h1 {
  font-size: 35px;
  line-height: 41px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #fff;
}

.slider h2 {
  font-size: 60px;
  line-height: 60.35px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #fff;
}
